<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcyvGwAc2LW95oz7WR9XRq630hC7Kw4OI</string>
	<key>GCM_SENDER_ID</key>
	<string>222131826183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taeseon.ShareProject</string>
	<key>PROJECT_ID</key>
	<string>ios-project-c1fc3</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-project-c1fc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222131826183:ios:2e4198689c9dfd751244a2</string>
</dict>
</plist>